@import "tailwindcss";

@layer base {
  html {
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: auto;
    min-height: 100vh;
  }
  body {
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 100vh;
  }
  #root {
    position: relative;
    min-height: 100vh;
  }
}
